swagger: "2.0"
info:
  version: "0.0.2"
  title: Cirrus Database API
# during dev, should point to your local machine
host: db.api.nubitekk.net:10083
# basePath prefixes all resource paths
basePath: /v2
#
schemes:
  # tip: remove http to make production-grade
  - http
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
paths:

  /code:
    # binds  app logic to a route
    x-swagger-router-controller: code
    
    get:
      description: Generate a valide Code based on provided mobile number
      summary: Generate Code
      operationId: validateCode
      parameters:
        - name: mobile
          required: true
          in: body
          description: Master Community mobile number
          schema:
            $ref: "#/definitions/Mobile"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CodeResponse"
            
        "500":
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
    
    post:
      description: Checks if the provided code is valide in DB
      summary: Validates Code
      operationId: generateCode
      parameters:
        - name: code
          required: true
          in: body
          description: Valide Code 
          schema:
            $ref: "#/definitions/Code"
      responses:
        "200":
          description: Success
        "500":
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"


# complex objects have schema definitions
definitions:

  Mobile:
    required:
      - mobile
    properties:
      mobile:
        type: string
      
  CodeResponse:
    allOf:
      - $ref: '#/definitions/Code'
        
  Code:
    required:
      - code
    properties:
      code:
        type: string


  ErrorResponse:
    required:
      - message
    properties:
      message:
        type: string
